<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Login</h1>
        <form action="" method="post">

            <label for="cpf">CPF:</label>
            <input type="number" id="cpf" name="cpf" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="token">Digite o seu token:</label>
            <input type="password" id="token" name="token" required>

            <button type="submit">Entrar</button>
</body>
</html>