<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="sistema.css">
    <link rel="icon" href="../../static/img/iconefp.png">
    <title>The Control</title>
</head>
<body>
    <div class="navbar">
        <div class="logo">
            <img src="../../static/img/iconecft.png">
        </div>
        <div class="nav-items">
            <div class="item-voltar">
                
                <p class="text-voltar">Voltar</p>
            </div>
            <div class="item-nome-sala">
                <p class="sala">Sala:</p>
                <p class="sala-nome"></p>
            </div>
        </div>
        <div class="perfil">
            <img src="">
        </div>
    </div>
    <div class="sidebar"></div>
</body>
</html>