@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

*{
    margin: 0;
    padding: 0;
    transition: var(--tran-3);
    color: var(--corFonte);
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    font-family: 'Poppins', sans-serif;
}

:root{
    --corBackBody: #e8ecf7;
    --corSideBar: #fff;
    --corFonte: #707070;
    --corToggleInput: #ddd;
    --corBrancoT: rgba(255, 255, 255, .2);
    --corPrimaria1: rgba(122, 0, 141, 1);
    --corPrimaria075: rgba(122, 0, 141, 0.75);
    --corPrimaria05: rgba(122, 0, 141, .5);
    --corPrimaria02: rgba(122, 0, 141, .2);

    --tran-3: .3s ease;
    --tran-4: .4s ease;
    --tran-5: .5s ease;
}

:root.dark{
    --corBackBody: #1f2020;
    --corSideBar: #242526;
    --corFonte: #ccc;
    --corToggleInput: #ddd;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2020;
    overflow: hidden;
}

.container{
    background-color: transparent;
    border: 2px solid var(--corBrancoT);
    padding: 30px;
    border-radius: 16px;
    width: 350px;
    backdrop-filter: blur(6px);
}

.form-titulo{
    font-weight: 700;
    font-size: 38px;
    text-align: center;
    color: var(--corSideBar);
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.form{
    display: flex;
    flex-direction: column;
}

.input-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    position: relative;
}

.input-group input[type=number]::-webkit-inner-spin-button{
    display: none;
}

.icon{
    color: var(--corBrancoT);
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    position: absolute;
    right: 0;
    top: 0;
}

.input-group input{
    border: none;
    border: 2px solid var(--corBrancoT);
    height: 40px;
    outline: none;
    font-size: 14px;
    padding: 0 20px;
    color: #fff;
    gap: 6px;
    border-radius: 24px;
    background-color: transparent;
}

.input-group input::placeholder{
    color: var(--corBrancoT);
    font-weight: 400;
}

.input-group input:focus{
    border: 2px solid var(--corPrimaria1);
}

.input-group input:focus ~ .icon{
    color: var(--corPrimaria1);
}

.input-group input:focus::placeholder{
    color: var(--corBrancoT);
}

.entrar-btn{
    border: none;
    padding: 8px 12px;
    background-color: var(--corPrimaria1);
    color: #000;
    border-radius: 24px;
    margin: 10px 0 20px 0;
}

.entrar-btn:hover{
    cursor: pointer;
    background-color: var(--corPrimaria075);
}

.text-cadastro{
    text-align: center;
    font-size: 14px;
}

.text-cadastro a{
    color: #fff;
    margin-left: 1ch;
    text-decoration: none;
    font-size: 14px;
}

.back-logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 0;
    opacity: .05;
    /* filter: drop-shadow(0 0 6px #000); */
}

.top-logo{
    position: absolute;
    top: 32px;
    left: 32px;
    z-index: 1;
}

.top-logo img{
    width: 200px;
}

#particles-js{
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: #1f2020;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.cadastro-footer{
    width: 100%;
    bottom: 16px;
    position: absolute;
    text-align: center;
    font-size: 14px;
    color: #fff;
    font-weight: 400;
}