:root{
    /* ==== CORES ==== */
    --corBackBody: #e8ecf7;
    --corSideBar: #fff;
    --corFonte: #707070;
    --corToggleInput: #ddd;
    --corPrimaria: rgba(122, 0, 141, 1);
    --corSucess: #00c875;
    --corSucess2: rgba(0, 200, 117, .2);
    --corSucessA: rgba(220, 252, 231, 1);
    --corSucessA2: rgba(34, 197, 94, 1);
    --corSucessA3: rgba(20, 83, 45, 1);
    --corErrorA1: rgba(254, 226, 226, 1);
    --corErrorA2: rgba(239, 68, 68, 1);
    --corErrorA3: rgba(127, 29, 29, 1);
    --corEdit: rgba(255, 183, 74, 1);
    --corEdit2: rgba(255, 183, 74, .2);
    --corDelete: #ea4335;
    --corDelete2: rgba(234, 67, 53, .2);
    --corFonteBtn: #fff;
    --corPreto01: rgba(0, 0, 0, 0.1);
    --corPreto015: rgba(0, 0, 0, 0.15);
    --corPreto05: rgba(0, 0, 0, 0.5);

    /* ==== TRANSICOES ==== */
    --tran-3: .3s ease;
    --tran-4: .4s ease;
    --tran-5: .5s ease;
}

:root.dark{
    --corBackBody: #1f2020;
    --corSideBar: #242526;
    --corFonte: #ccc;
    --corToggleInput: #ddd;
    --corPreto01: rgba(255, 255, 255, 0.1);
    --corPreto015: rgba(255, 255, 255, 0.15);
    --corPreto05: rgba(255, 255, 255, 0.4);
}

.delete_div, .cadastrar_div, .editar_div, .camera_div{
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100dvh;
    backdrop-filter: blur(1px);
}

.delete_card, .cadastrar_card, .editar_card{
    opacity: 0;
    width: 300px;
    background-color: var(--corSideBar);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 8px var(--corPreto015);
    border-radius: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transform-origin: center;
}

/* .camera_card{
    width: 600px;
    background-color: var(--corSideBar);
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
} */

.cadastrar_card, .editar_card{
    width: 500px !important;
}

.delete_titulo, .cadastrar_titulo, .editar_titulo{
    font-size: 20px;
    font-weight: 800;
}

.bx-trash.icon, .bxs-add-to-queue.icon, .bx-edit.icon{
    min-width: unset;
    color: var(--corDelete);
    animation: animacao_icon 3s infinite;
    font-size: 80px;
    margin: 20px 0;
}

.bxs-add-to-queue.icon{
    color: var(--corSucess) !important;
}

.bx-edit.icon{
    color: var(--corEdit) !important;
}

.delete_texto, .cadastrar_texto, .editar_texto{
    font-size: 16px;
    margin-bottom: 20px;
}

.delete_btns, .cadastrar_btns, .editar_btns{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.delete_confirmar, .cadastrar_confirmar, .editar_confirmar{
    border: none;
    font-weight: 600;
    font-size: 14px;
    background-color: var(--corDelete);
    color: var(--corFonteBtn);
    border-radius: 20px;
    padding: 5px 50px;
}

.cadastrar_confirmar{
    background-color: var(--corSucess) !important;
    padding: 5px 100px !important;
}

.editar_confirmar{
    background-color: var(--corEdit) !important;
    padding: 5px 100px !important;
}

.delete_confirmar:hover, .cadastrar_confirmar:hover, .editar_confirmar:hover{
    filter: brightness(.85);
    cursor: pointer;
}

.delete_cancelar, .cadastrar_cancelar, .editar_cancelar{
    border: none;
    font-weight: 600;
    font-size: 14px;
    background-color: transparent;
    color: var(--corDelete);
    border-radius: 20px;
    padding: 5px 50px;
}

.cadastrar_cancelar{
    color: var(--corSucess) !important;
    padding: 5px 100px !important;
}

.editar_cancelar{
    color: var(--corEdit) !important;
    padding: 5px 100px !important;
}

.delete_cancelar:hover{
    background-color: var(--corDelete2);
    cursor: pointer;
}

.editar_cancelar:hover{
    background-color: var(--corEdit2);
    cursor: pointer;
}

.cadastrar_cancelar:hover{
    background-color: var(--corSucess2);
    cursor: pointer;
}

.cadastrar_card{
    display: flex;
    align-items: center;
}

.cadastrar_input_group, .editar_input_group{
    display: flex;
    align-items: center;
    width: 80%;
    padding: 0 10%;
    position: relative;
    margin-bottom: 25px;
}

.editar_input.id, .editar_input.id + i{
    opacity: .6;
}

.cadastrar_input_group i, .editar_input_group i{
    min-width: unset;
    position: absolute;
    left: 10%;
    font-size: 36px;
    margin-bottom: 3px;
}

.cadastrar_input, .editar_input{
    width: 100%;
    height: 36px;
    background-color: transparent;
    border: none;
    border-bottom: 3px solid var(--corPreto05);
    outline: none;
    padding-left: 40px;
}

.cadastrar_input:focus{
    border-bottom: 3px solid var(--corSucess);
    padding-left: 44px;
}

.editar_input:focus{
    border-bottom: 3px solid var(--corEdit);
    padding-left: 44px;
}

.cadastrar_input:focus + .icon.cadastrar{
    color: var(--corSucess) !important;
}

.editar_input:focus + .icon.editar{
    color: var(--corEdit) !important;
}

.cadastrar_input[type=number]::-webkit-inner-spin-button, .editar_input[type=number]::-webkit-inner-spin-button{
    display: none;
}

.select{
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.select:hover{
    cursor: pointer;
}

.alert_sucess_div, .alert_error_div{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--corSucessA);
    padding: 8px;
    border-radius: 8px;
    border-left: 4px solid var(--corSucessA2);
    border-color: var(--corSucessA2);
}

.alert_error_div{
    background-color: var(--corErrorA1) !important;
    border-left: 4px solid var(--corErrorA2) !important;
    border-color: var(--corErrorA2) !important;
}

.alert_sucess_div svg, .alert_error_div svg{
    width: 20px;
    height: 20px;
    margin-right: 4px;
}

.alert_sucess_div svg path{
    color: var(--corSucessA2) !important;
}

.alert_error_div svg path{
    color: var(--corErrorA2) !important;
}

.alert_sucess_div p{
    color: var(--corSucessA3);
}

.alert_error_div p{
    color: var(--corErrorA3) !important;
}

@keyframes animacao_icon{
    0%, 100% {
        transform: translateY(-10%);
        animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
}