<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petição de Acesso</title>
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <form action="" method="post">
            <label for="nome">Nome completo:</label>
            <input type="name" id="nome" name="nome" required>

            <label for="cpf">CPF:</label>
            <input type="number" id="cpf" name="cpf" required>

            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>

            <label for="telefone">Telefone:</label>
            <input type="number" id="telefone" name="telefone" required>

            <label for="mensagem">Motivo do acesso:</label>
            <input type="text" id="mensagem" name="mensagem" required>

            <button type="submit">Entrar</button>
        </form>
    </div>
</body>
</html>