<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizaçã</title>
</head>
<body>
    <h2>Informação de usuarios</h2>
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>nome</th>
                <th>cpf</th>
                <th>email</th>
                <th>telefone</th>
                <th>mensagem</th>
            </tr>
        </thead>
        <tbody>
            {% for valor in infos_usuarios %}
            <tr>
                <td>{{ valor.id }}</td>
                <td>{{ valor.nome }}</td>
                <td>{{ valor.cpf }}</td>
                <td>{{ valor.email }}</td>
                <td>{{ valor.telefone }}</td>
                <td>{{ valor.mensagem }}</td>
                <form action="{{ url_for('sistema.autorizacao_usuario') }}" method="post">
                    <input type="hidden" value="{{ valor.id }}" name="id">
                    <td><button type="submit">Autorizar</button></td>
                </form>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        setInterval(function () {
          location.reload();
        }, 5000); 
      </script>
</body>
</html>