<div id="deleteDiv" class="delete_div">
    <div id="deleteCard" class="delete_card" style="opacity: 0; transform: translate(-50%, -50%) scale(0);">
        <p class="delete_titulo">Deseja excluir o item?</p>
        <i class='bx bx-trash icon'></i>
        <p class="delete_texto">Essa ação é irreversível e não poderá ser desfeita.</p>
        <form id="deleteForm" method="post" action="/filtrar{{ '?sala=' + sala if sala else '' }}">
            <!-- Campo oculto para armazenar o ID do patrimônio -->
            <input type="hidden" name="patrimonio_id" id="patrimonio_id_hidden">
            <input type="hidden" name="sala" id="sala_hidden" value="{{ sala }}">
            <div class="delete_btns">
                <button type="submit" class="delete_confirmar">Confirmar</button>
                <button type="button" class="delete_cancelar" onclick="pop_up_deletar_cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

<div class="cadastrar_div">
    <form method="post" action="{{ url_for('user.criar_patrimonio') }}" class="cadastrar_card">
        <p class="cadastrar_titulo">Cadastrar novo patrimônio</p>
        <i class='bx bxs-add-to-queue icon'></i>
        <p class="cadastrar_texto">Preencha os campos abaixo para cadastrar um novo patrimônio.</p>
           
        <div class="cadastrar_input_group">
            <input type="number" class="cadastrar_input" name="cadastrar_numero_de_etiqueta" placeholder="Número de etiqueta" required>
            <i class='bx bx-purchase-tag-alt icon cadastrar'></i>
        </div>
        <div class="cadastrar_input_group">
            <input type="text" class="cadastrar_input" name="cadastrar_nome" placeholder="Nome do patrimônio" required>
            <i class='bx bx-pencil icon cadastrar'></i>
        </div>
        <div class="cadastrar_input_group">
            <input type="text" class="cadastrar_input calendario" name="cadastrar_data_de_chegada" placeholder="Data de chegada" required>
            <i class='bx bx-calendar icon cadastrar'></i>
        </div>
        <div class="cadastrar_input_group">
            <!-- <input type="" class="cadastrar_input" name="cadastrar_local" required> -->
            <select name="cadastrar_local" class="cadastrar_input select" id="cadastrar_input" required>
                <option value="" disabled selected>Local</option>
            {% for lugar in salas %}
                {% if lugar %}
                    <option value="{{ lugar }}">{{ lugar | replace("'", "") | replace("(", "") | replace(")", "") | replace(";", "") | replace(",", "") }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <i class='bx bx-current-location icon cadastrar'></i>
        </div>

        <div class="cadastrar_btns">
            <button type="submit" class="cadastrar_confirmar">Cadastrar</button>
            <button type="button" class="cadastrar_cancelar" onclick="pop_up_cadastrar_cancelar()">Cancelar</button>
        </div>
    </form>
</div>

<div class="editar_div">
    <form method="post" action="{{ url_for('user.atualizar_patrimonio') }}" class="editar_card">
        <input type="hidden" name="editar_patrimonio_id" id="patrimonio_id_hidden">
        <input type="hidden" name="editar_patrimonio_numero_de_etiqueta" id="patrimonio_numero_de_etiqueta_hidden">
        <input type="hidden" name="editar_patrimonio_denominacao_de_imobiliario" id="patrimonio_denominacao_de_imobiliario_hidden">
        <input type="hidden" name="editar_patrimonio_data_de_chegada" id="patrimonio_data_de_chegada_hidden">
        <input type="hidden" name="editar_patrimonio_local" id="patrimonio_local_hidden">
        <p class="editar_titulo">Editar patrimônio</p>
        <i class='bx bx-edit icon'></i>
        <p class="editar_texto">Atualize os campos abaixo para editar o patrimônio.</p>
        
        <div class="editar_input_group">
            <input readonly type="number" class="editar_input id" name="editar_id" placeholder="Número de id" required>
            <i class='bx bx-barcode icon editar'></i>
        </div>
        <div class="editar_input_group">
            <input type="number" class="editar_input" name="editar_numero_de_etiqueta" placeholder="Número de etiqueta" required>
            <i class='bx bx-purchase-tag-alt icon editar'></i>
        </div>
        <div class="editar_input_group">
            <input type="text" class="editar_input" name="editar_nome" placeholder="Nome do patrimônio" required>
            <i class='bx bx-pencil icon editar'></i>
        </div>
        <div class="editar_input_group">
            <input type="text" class="editar_input calendario" name="editar_data_de_chegada" placeholder="Data de chegada" required>
            <i class='bx bx-calendar icon editar'></i>
        </div>
        <div class="editar_input_group">
            <!-- <input type="" class="editar_input" name="cadastrar_local" required> -->
            <select name="editar_local" class="editar_input select" id="editar_input" required>
                <option value="" disabled selected>Local</option>
            {% for lugar in salas %}
                {% if lugar %}
                    <option value="{{ lugar }}">{{ lugar | replace("'", "") | replace("(", "") | replace(")", "") | replace(";", "") | replace(",", "") }}</option>
                {% endif %}
            {% endfor %}
            </select>
            <i class='bx bx-current-location icon editar'></i>
        </div>

        <div class="editar_btns">
            <button type="submit" class="editar_confirmar">Editar</button>
            <button type="button" class="editar_cancelar" onclick="pop_up_editar_cancelar()">Cancelar</button>
        </div>
    </form>
</div>

<div class="alert_sucess_div" style="display: none">
    <svg
      stroke="currentColor"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        stroke-width="2"
        stroke-linejoin="round"
        stroke-linecap="round"
      ></path>
    </svg>
    <p>Sucesso - {{ message }}</p>
</div>

<div class="alert_error_div" style="display: none">
    <svg
      stroke="currentColor"
      viewBox="0 0 24 24"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
        stroke-width="2"
        stroke-linejoin="round"
        stroke-linecap="round"
      ></path>
    </svg>
    <p>Erro - {{message}} </p>
  </div>

<!-- <div class="camera_div">
    <div class="camera_card">
        <div id="interactive" class="viewport"></div>
    </div>
</div> -->