{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert_{{category}}_div">
                    <svg stroke="currentColor" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M13 16h-1v-4h1m0-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
                              stroke-width="2" stroke-linejoin="round" stroke-linecap="round"></path>
                    </svg>
                    <p>{{ category.capitalize() }} - {{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

