<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../../static/img/iconefp.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../static/css/empresa.css">
    <title>The Control</title>
</head>

<body class="body">
    <header class="header">
        
        <input type="checkbox" id="check">
        <label for="check" class="icon-nav">
            <i class='bx bx-menu' id="menuh"></i>
            <i class='bx bx-x' id="menux"></i>
        </label>
        <nav class="nav">
            <a href="">Home</a>
            <a href="#sec-sobre">Sobre</a>
            <a href="#contate">Contate-nos</a>
            <a href="/login">Acessar</a>
        </nav>
    </header>


    <div class="carousel">

        <div class="list">

            <div class="item" style="background-image: url(../../static/img/img2.png); filter: brightness(.8);">
                
                <div class="content">
                    <div class="title">THE</div>
                    <div class="name">CONTROL</div>
                    <p class="des">Gerenciamento preciso e automatizado para garantir eficiência e organização em todas as operações.</p>

                
                </div>

            </div>
            <div class="item" style="background-image: url(../../static/img/img1.png); filter: brightness(.8);">
                <div class="content">
                    <div class="title">THE</div>
                    <div class="name">CONTROL</div>
                    <p class="des">Gerenciamento preciso e automatizado para garantir eficiência e organização em todas as operações.</p>
                    <div class="btn">
                        <a href="#sec-sobre">Saiba mais</a>
                    </div>
                
                
                </div>


            </div>
            <div class="item" style="background-image: url(../../static/img/img3.png); filter: brightness(.8);">
                
                <div class="content">
                    <div class="title">THE</div>
                    <div class="name">CONTROL</div>
                    <p class="des">Utilizando tecnologia de escaneamento para otimizar a gestão de estoque e garantir eficiência no controle de materiais escolares.</p>

                
                </div>

            </div>
            <div class="item" style="background-image: url(../../static/img/img4.png); filter: brightness(.8);">
            
                <div class="content">
                    <div class="title">THE</div>
                    <div class="name">CONTROL</div>
                    <p class="des">Na “The Control”, oferecemos soluções sob medida para a gestão de patrimônios em diversos setores, garantindo um atendimento personalizado que se adapta às necessidades únicas de cada cliente.</p>

                
                
                </div>

            </div>
            <div class="item" style="background-image: url(../../static/img/img5.png); filter: brightness(.8);">
            
                <div class="content">
                    <div class="title">THE</div>
                    <div class="name">CONTROL</div>
                    <p class="des">Soluções tecnológicas avançadas para o controle e planejamento estratégico em um ambiente seguro e confiável.</p>

                
                
                </div>

            </div>

        
        </div>
    
        <div class="arrows">
            <button class="prev"><</button>
            <button class="next">></button>
        </div>

        <div class="timeRunning"></div>

    </div>

    <section class="sec-sobre" id="sec-sobre">
        <div class="sobre-content">
            <div class="tx-sobre animarUp">
                <h1>Sobre a The Control</h1>
                <p>
            
                The Control é uma empresa que oferece soluções tecnológicas personalizadas para gestão patrimonial, com foco em eficiência, transparência e segurança. Atua principalmente no setor educacional, mas também atende outros setores, adaptando suas ferramentas às necessidades dos clientes.            </div>
                </p>
                <div class="grid-sobre">
                <div class="sec1 animarUp">
                    <div class="icon-div">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="50" height="50" class="svg-icon">
                            <path d="M12,12A4,4,0,1,0,8,8,4,4,0,0,0,12,12Zm0-6a2,2,0,1,1-2,2A2,2,0,0,1,12,6Zm8.66,3.157-.719-.239A8,8,0,0,0,12,0,7.993,7.993,0,0,0,4.086,9.092a5.045,5.045,0,0,0-2.548,1.3A4.946,4.946,0,0,0,0,14v4.075a5.013,5.013,0,0,0,3.6,4.8l2.87.9A4.981,4.981,0,0,0,7.959,24a5.076,5.076,0,0,0,1.355-.186l5.78-1.71a2.987,2.987,0,0,1,1.573,0l2.387.8A4,4,0,0,0,24,19.021V13.872A5.015,5.015,0,0,0,20.66,9.156ZM7.758,3.762a5.987,5.987,0,0,1,8.484,0,6.037,6.037,0,0,1,.011,8.5L12.7,15.717a.992.992,0,0,1-1.389,0L7.758,12.277A6.04,6.04,0,0,1,7.758,3.762ZM22,19.021a1.991,1.991,0,0,1-.764,1.572,1.969,1.969,0,0,1-1.626.395L17.265,20.2a5.023,5.023,0,0,0-2.717-.016L8.764,21.892a3,3,0,0,1-1.694-.029l-2.894-.9A3.013,3.013,0,0,1,2,18.075V14a2.964,2.964,0,0,1,.92-2.163,3.024,3.024,0,0,1,1.669-.806A8.021,8.021,0,0,0,6.354,13.7l3.567,3.453a2.983,2.983,0,0,0,4.174,0l3.563-3.463a7.962,7.962,0,0,0,1.813-2.821l.537.178A3.006,3.006,0,0,1,22,13.872Z"/>
                        </svg>
                    </div>
                    <h2 class="sec-titulo">Nosso Diferencial</h2>
                    <p class="sec-tx">Combinamos tecnologia, atendimento personalizado e ferramentas práticas para otimizar a gestão patrimonial, com relatórios detalhados e suporte especializado para garantir resultados eficazes.</p>
                </div>
                <div class="sec2 animarUp">
                    <div class="icon-div">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="50" height="50" class="svg-icon">
                            <path d="M10,21.236,6.755,14.745.264,11.5,6.755,8.255,10,1.764l3.245,6.491L19.736,11.5l-6.491,3.245ZM4.736,11.5l3.509,1.755L10,16.764l1.755-3.509L15.264,11.5,11.755,9.745,10,6.236,8.245,9.745ZM18,21l1.5,3L21,21l3-1.5L21,18l-1.5-3L18,18l-3,1.5ZM19.333,4.667,20.5,7l1.167-2.333L24,3.5,21.667,2.333,20.5,0,19.333,2.333,17,3.5Z"/>
                        </svg>
                    </div>
                    <h2 class="sec-titulo">Benefícios</h2>
                    <p class="sec-tx">Implementar um controle patrimonial eficiente vai além da organização: garante redução de custos, melhora a tomada de decisões, aumenta a produtividade da equipe e prolonga a vida útil dos bens.
                    </p>
                </div>
                <div class="sec3 animarUp">
                    <div class="icon-div">
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24" width="50" height="50" class="svg-icon">
                            <path d="M12,16a4,4,0,1,1,4-4A4,4,0,0,1,12,16Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,12,10Zm6,13A6,6,0,0,0,6,23a1,1,0,0,0,2,0,4,4,0,0,1,8,0,1,1,0,0,0,2,0ZM18,8a4,4,0,1,1,4-4A4,4,0,0,1,18,8Zm0-6a2,2,0,1,0,2,2A2,2,0,0,0,18,2Zm6,13a6.006,6.006,0,0,0-6-6,1,1,0,0,0,0,2,4,4,0,0,1,4,4,1,1,0,0,0,2,0ZM6,8a4,4,0,1,1,4-4A4,4,0,0,1,6,8ZM6,2A2,2,0,1,0,8,4,2,2,0,0,0,6,2ZM2,15a4,4,0,0,1,4-4A1,1,0,0,0,6,9a6.006,6.006,0,0,0-6,6,1,1,0,0,0,2,0Z"/>
                        </svg>
                    </div>
                    <h2 class="sec-titulo">Quem somos?</h2>
                    <p class="sec-tx">Somos uma empresa de eventos apaixonada por jogos com uma temática espacial. Criamos experiências inesquecíveis para todos os amantes de jogos. Venha conosco em nossa jornada galáctica.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="sec-patro animarUp">
        <div class="slide1 fadeInSlide fadeOutSlide">
            <div class="patro-slide">
                <div class="img-slideP"><img src="../../static/img/amazon.png" class="img-patro img-diminuir"></div>
                <div class="img-slideP"><img src="../../static/img/capgemini.png" class="img-patro img-diminuir"></div>
                <div class="img-slideP"><img src="../../static/img/dell.png" class="img-patro"></div>
                <div class="img-slideP"><img src="../../static/img/oracle.png" class="img-patro"></div>
                <div class="img-slideP"><img src="../../static/img/sap.png" class="img-patro"></div>
                <div class="img-slideP"><img src="../../static/img/trello.png" class="img-patro"></div>

            </div>
            <div class="patro-slide">
                <div class="img-slideP"><img src="../../static/img/amazon.png" class="img-patro img-diminuir"></div>
                <div class="img-slideP"><img src="../../static/img/capgemini.png" class="img-patro img-diminuir"></div>
                <div class="img-slideP"><img src="../../static/img/dell.png" class="img-patro"></div>
                <div class="img-slideP"><img src="../../static/img/oracle.png" class="img-patro"></div>
                <div class="img-slideP"><img src="../../static/img/sap.png" class="img-patro"></div>
                <div class="img-slideP"><img src="../../static/img/trello.png" class="img-patro"></div>

            </div>

        </div>
    </section>

    <section class="section">
   
            <div class="pfaqs">

                <h2 class="titlef">FAQs</h2>

                    <div class="faq">
                        <div class="pergunta">
                            <h3>Qual a importância do controle?</h3>

                            <svg class="svg_faq" width="15" heigth="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke-linecap="round"/>
                            </svg>
                        </div>

                        <div class="resposta">

                            <p>
                               Ele é importante para garantir uma gestão financeira eficiente, evitar perdas ou extravios, cumprir obrigações fiscais e facilitar decisões estratégicas.
                            </p>
                        </div>

                    </div>

                    <div class="faq">
                        <div class="pergunta">
                            <h3>Como funciona o processo de inventário patrimonial?</h3>

                            <svg class="svg_faq" width="15" heigth="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke-linecap="round"/>
                            </svg>
                        </div>

                        <div class="resposta">

                            <p>
                                O inventário patrimonial envolve a identificação, a etiquetagem e o registro detalhado de todos os bens da empresa. Isso inclui informações como localização, estado de conservação, valor de aquisição, e vida útil estimada.                            </p>

                        </div>

                    </div>

                    <div class="faq">
                        <div class="pergunta">
                            <h3>Quais tipos de bens são controlados pela empresa?</h3>

                            <svg class="svg_faq" width="15" heigth="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke-linecap="round"/>
                            </svg>
                        </div>

                        <div class="resposta">

                            <p>
                                A empresa controla bens móveis (como equipamentos, móveis e veículos), bens imóveis (como prédios e terrenos) e bens intangíveis (como licenças de software).                            </p>

                        </div>

                    </div>

                    <div class="faq">
                        <div class="pergunta">
                            <h3>Com que frequência devo realizar o inventário patrimonial?</h3>

                            <svg class="svg_faq" width="15" heigth="10" viewBox="0 0 42 25">
                                <path d="M3 3L21 21L39 3" stroke-linecap="round"/>
                            </svg>
                        </div>

                        <div class="resposta">

                            <p>
                                Recomenda-se realizar o inventário pelo menos uma vez por ano, ou sempre que houver mudanças significativas nos ativos da empresa.
                            </p>

                        </div>

                    </div>

            </div>

            <div class="imgfaqs">
                <img src="../../static/img/faqs.jpg">
            </div>

        


    </section>

    <section class="contate" id="contate">

        <div class="tx-contato animarUp">
            <h1 class="titulo-footer">Entre em contato</h1>
            <p>Caso queira tirar alguma dúvida a respeito do evento entre em contato ou preencha o formulário para que possamos respondê-lo.</p>
            <div class="informacoes-contato">

                <div class="subtitulo-padrao">
                    <i class="bx bx-phone"></i>
                    <p>(17)3322-4678</p>
                </div>

                <div class="subtitulo-padrao">
                    <i class='bx bx-envelope'></i>
                    <p>the_control24@gmail.com</p>
                </div>

            </div>
        </div>


            <div class="login-box">
                <h1 class="titulo-footer"></h1>
                <form action="/msgindex" method="post">
                    <div class="user-box">
                        <input required name="name" type="text" autocomplete="off">
                        <label>Nome</label>
                    </div>
                    <div class="user-box">
                        <input required name="memail" type="email" class="footer-email" autocomplete="off">
                        <label class="footer-label">Email</label>
                    </div>
                    <div class="user-box">
                        <input required name="msg" cols="30" rows="10" autocomplete="off">
                        <label>Mensagem</label>
                    </div>
                    <div class="div-submit">
                        <a>
                            <input type="submit" value="Enviar" id="btn_permission" >
                        </a>
                    </div>
                </form>
            </div>

    </section>



    <section class="footer" id="footer">
        <div class="waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>

        </div>
      <ul class="social_icon">
        <li><a href="#"><i class='bx bxl-instagram'></i></a></li>
        <li><a href="#"><i class='bx bx-phone'></i></a></li>
        <li><a href="#"><i class='bx bx-envelope'></i></a></li>
        <li><a href="#"><i class='bx bxl-linkedin' ></i></a></li>
      </ul>

      <p>© Todos os direitos reservados à The Control - 2024</p>
    </section>

    <script src="../../static/js/empresa.js"></script>
    
</body>
</html>