<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/cards.css">
    <link rel="stylesheet" href="../../static/css/patrimonio.css">
    <link rel="stylesheet" href="../../static/css/adap.css">
    <link rel="icon" href="../../static/img/iconefp.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>The Control</title>
</head>
<body>
    {% include 'sistema/user/navbar.html' %}
    
    {% block content %}
    {% include 'components/message.html' %}
        <section class="home">
            <div class="home-conteudo">
                <section class="menuHamb">
                    <div class="menuH" id="menu">
                        <label class="hamburger" id="hamburguer">
                            <input type="checkbox" id="check">
                            <svg viewBox="0 0 32 32">
                                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                                <path class="line" d="M7 16 27 16"></path>
                            </svg>
                        </label>
                    </div>
                </section>
                <h1>Bem vindo</h1>
                <h2>Tipo de usuário: {{ current_user.__class__.__name__ }}</h2>
                
                <!-- Se o usuário for Admin -->
                {% if current_user.__class__.__name__ == 'Admin' %}
                    <section class="sec-tabela">
                        <h3>Requisições de Usuários</h3>
                        <table class="tabela">
                            <thead class="tabela-header">
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>CPF</th>
                                    <th>Email</th>
                                    <th>Telefone</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if infos_usuarios %}
                                    {% for valor in infos_usuarios %}
                                        <tr class="tabela-linha">
                                            <td class="tabela-coluna etq">{{ valor.id }}</td>
                                            <td class="tabela-coluna">{{ valor.nome }}</td>
                                            <td class="tabela-coluna">{{ valor.cpf }}</td>
                                            <td class="tabela-coluna">{{ valor.email }}</td>
                                            <td class="tabela-coluna">{{ valor.telefone }}</td>
                                            <td class="tablea-colunas btns">
                                                <!-- Atualizando o formulário para fazer o POST na rota correta -->
                                                <form action="{{ url_for('user.autorizar_usuario', id=valor.id) }}" method="post">
                                                    <button type="submit" class="autorizar_btn">Autorizar</button>
                                                </form>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" class="text-center">Nenhuma requisição de usuário encontrada.</td>
                                    </tr>


                                {% endif %}
                            </tbody>
                        </table>
                    </section>
                    <section class="sec-tabela">
                        <h3>Movimentação de patrimônio</h3>
                        <table class="tabela">
                            <thead class="tabela-header">
                                <tr>
                                    <th>ID</th>
                                    <th>ID em patrimônios</th>
                                    <th>Etiqueta</th>
                                    <th>Nome</th>
                                    <th>Local antigo</th>
                                    <th>Local novo</th>
                                    <th>Data Mudança</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if movimentacao_de_ativos %}
                                    {% for valor in movimentacao_de_ativos %}
                                        <tr class="tabela-linha">
                                            <td class="tabela-coluna etq">{{ valor.id }}</td>
                                            <td class="tabela-coluna etq">{{ valor.patrimonio_id }}</td>
                                            <td class="tabela-coluna">{{ valor.nome }}</td>
                                            <td class="tabela-coluna">{{ valor.local_antigo }}</td>
                                            <td class="tabela-coluna">{{ valor.local_novo }}</td>
                                            <td class="tabela-coluna">{{ valor.data_mudanca }}</td>
                                            <td class="tablea-colunas btns">
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="7" class="text-center">Nenhuma movimentação.</td>
                                    </tr>


                                {% endif %}
                            </tbody>
                        </table>
                    </section>

                    
                   
                {% elif current_user.__class__.__name__ == 'Usuario' %}
                    <!-- Conteúdo para usuários comuns -->
                    <p>Você é um usuário comum e tem acesso limitado.</p>
                {% endif %}
            </div>
        </section>
    {% endblock %}

    <script src="../../static/js/script.js"></script>
</body>
</html>
