<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/patrimonio.css">
    <link rel="stylesheet" href="../../static/css/cards.css">
    <link rel="stylesheet" href="../../static/css/adap.css">
    <link rel="icon" href="../../static/img/iconefp.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>The Control</title>
</head>
<body>
    {% include 'sistema/user/navbar.html' %}
    <!-- PARA TIRAR O CARD SÓ COMENTAR A LINHA DE BAIXO -->
    {% block content %}
        {% include 'components/cards.html' %}
        <section class="home">
            <div class="home-conteudo">
                <section class="menuHamb">
                    <div class="menuH" id="menu">
                        <label class="hamburger" id="hamburguer">
                            <input type="checkbox" id="check">
                            <svg viewBox="0 0 32 32">
                                <path class="line line-top-bottom" d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22"></path>
                                <path class="line" d="M7 16 27 16"></path>
                            </svg>
                        </label>
                    </div>
                </section>
                <section class="sec-bar">
                    <div class="criar-btn">
                        <input type="hidden" name="criar_btn" value="">
                        <button class="btn-criar" onclick="pop_up_cadastrar()">
                            <i class='bx bx-plus icon'></i>
                            <span>Cadastrar</span>
                        </button>
                    </div>

                    <form method="GET" class="procurar-btn" action="{{ url_for('user.visualizar_patrimonio') }}">
                        <input type="hidden" name="sala" value="{{ sala or '' }}">
                        <input id="procurar_btn" type="text" name="query" placeholder="Buscar patrimônio..." value="{{ query or '' }}">
                        <label for="procurar_btn">
                            <button type="submit"><i class='bx bx-search icon'></i></button>
                        </label>
                        <!-- <label for="procurar_btn">
                            <button type="submit"><i class='bx bx-barcode-reader icon bar'></i></button>
                        </label> -->
                    </form>

                    <div class="btns-patrimonios">
                        <form action="{{ url_for('user.exportar_csv', sala=sala) }}" method="post" class="exportar-btn">
                            <input type="hidden" name="exportarCSV_btn" value="">
                            <button type="submit" class="btn-criar csv">
                                <i class='bx bxs-file-blank icon'></i>
                                <span>Exportar CSV</span>
                            </button>
                        </form>
                        <form action="{{ url_for('user.exportar_pdf', sala=sala) }}" method="post" class="exportar-btn">
                            <input type="hidden" name="exportar_btn" value="">
                            <button type="submit" class="btn-criar">
                                <i class='bx bxs-file-pdf icon'></i>
                                <span>Exportar PDF</span>
                            </button>
                        </form>
                    </div>
                </section>
                <section class="sec-tabela">
                    <table class="tabela">
                        <h1 style="font-size: 20px;">SESI-185 | Sala {{sala}}</h1>
                        <br>
                        <thead class="tabela-header">
                            <tr>
                                <th>ID</th>
                                <th>Denominação</th>
                                <th>Número de Etiqueta</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if patrimonios %}
                                {% for patrimonio in patrimonios %}
                                <tr class="tabela-linha">
                                    <td class="tabela-coluna id">{{ patrimonio.id }}</td>
                                    <td class="tabela-coluna">{{ patrimonio.denominacao_de_imobiliario }}</td>
                                    <td class="tabela-coluna etq">{{ patrimonio.numero_de_etiqueta }}</td>
                                    <td class="tabela-coluna btns">
                                        <a onclick="pop_up_deletar('{{ patrimonio.id }}')" style="display:inline; width: 100%;">
                                            <button class="btn-deletar">Deletar</button>
                                        </a>
                                        <a onclick="pop_up_editar('{{ patrimonio.id }}', '{{ patrimonio.numero_de_etiqueta }}', '{{ patrimonio.denominacao_de_imobiliario }}', '{{ patrimonio.data_de_chegada }}', '{{ patrimonio.local }}')" style="display:inline; width: 100%;">
                                            <input type="hidden" name="patrimonio_id" value="{{ patrimonio.id }}">
                                            <input type="hidden" name="patrimonio_numero_de_etiqueta" value="{{ patrimonio.numero_de_etiqueta }}">
                                            <input type="hidden" name="patrimonio_denominacao_de_imobiliario" value="{{ patrimonio.denominacao_de_imobiliario }}">
                                            <input type="hidden" name="patrimonio_data_de_chegada" value="{{ patrimonio.data_de_chegada }}">
                                            <input type="hidden" name="patrimonio_local" value="{{ patrimonio.local }}">
                                            <button class="btn-editar">Editar</button>
                                        </a>
                                        
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">Nenhum patrimônio encontrado.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
        <!-- <div id="resultados"></div> -->
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="../../static/js/script.js"></script>
    <!-- <script src="https://unpkg.com/quagga/dist/quagga.min.js"></script>
    <script>
      // Função para detectar se o dispositivo é um celular
      function isMobile() {
        return /Android|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
      }

      // Configuração da câmera, invertendo se o dispositivo for móvel
      function getCameraConfig() {
        return {
          name: "Live",
          type: "LiveStream",
          target: document.querySelector('#interactive'),
          constraints: {
            width: 640,
            height: 180,
            facingMode: isMobile() ? "environment" : "user" // Traseira no celular, frontal no desktop
          }
        };
      }

      // Inicializa o QuaggaJS com a configuração da câmera
      Quagga.init({
        inputStream: getCameraConfig(),
        decoder: {
          readers: ["code_128_reader", "ean_reader", "ean_8_reader", "upc_reader", "upc_e_reader"] // Tipos de códigos de barras suportados
        }
      }, function(err) {
        if (err) {
          console.log(err);
          return;
        }
        console.log("QuaggaJS iniciado com sucesso");
        Quagga.start();
      });

      // Função chamada ao detectar um código de barras
      Quagga.onDetected(function(result) {
        const code = result.codeResult.code;
        console.log("Código de Barras detectado: " + code);
        alert("Código de Barras detectado: " + code);

        // Enviando o código via POST para o endpoint /lerbarcode
        fetch('/lerbarcode', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({ codigo: code }),
        })
        .then(response => response.json())
        .then(data => {
          console.log('Resposta do servidor:', data);
        })
        .catch((error) => {
          console.error('Erro ao enviar o código:', error);
        });
        });
    </script> -->
</body>
</html>
