<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/patrimonio.css">
    <link rel="stylesheet" href="../../static/css/cards.css">
    <link rel="icon" href="../../static/img/iconefp.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>The Control</title>
</head>
<body>
    {% include 'sistema/user/navbar.html' %}
    <!-- PARA TIRAR O CARD SÓ COMENTAR A LINHA DE BAIXO -->
    {% include 'components/cards.html' %}
    {% block content %}
        <section class="home">
            <div class="home-conteudo">
                <section class="sec-bar">
                    <div class="criar-btn">
                        <input type="hidden" name="criar_btn" value="">
                        <button class="btn-criar" onclick="pop_up_cadastrar()">
                            <i class='bx bx-plus icon'></i>
                            <span>Cadastrar</span>
                        </button>
                    </div>

                    <form method="GET" class="procurar-btn" action="{{ url_for('user.visualizar_patrimonio') }}">
                        <input type="hidden" name="sala" value="{{ sala or '' }}">
                        <input id="procurar_btn" type="text" name="query" placeholder="Buscar patrimônio..." value="{{ query or '' }}">
                        <label for="procurar_btn">
                            <button type="submit"><i class='bx bx-search icon'></i></button>
                        </label>
                    </form>

                    <div class="btns-patrimonios">
                        <form action="" method="post" class="exportar-btn">
                            <input type="hidden" name="exportarCSV_btn" value="">
                            <button type="submit" class="btn-criar csv">
                                <i class='bx bxs-file-blank icon'></i>
                                <span>Exportar CSV</span>
                            </button>
                        </form>
                        <form action="{{ url_for('user.exportar', sala=sala) }}" method="post" class="exportar-btn">
                            <input type="hidden" name="exportar_btn" value="">
                            <button type="submit" class="btn-criar">
                                <i class='bx bxs-file-pdf icon'></i>
                                <span>Exportar PDF</span>
                            </button>
                        </form>
                    </div>
                </section>
                <section class="sec-tabela">
                    <table class="tabela">
                        <h1 style="font-size: 20px;">SESI-185 | Sala {{sala}}</h1>
                        <br>
                        <thead class="tabela-header">
                            <tr>
                                <th>ID</th>
                                <th>Denominação</th>
                                <th>Número de Etiqueta</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if patrimonios %}
                                {% for patrimonio in patrimonios %}
                                <tr class="tabela-linha">
                                    <td class="tabela-coluna id">{{ patrimonio.id }}</td>
                                    <td class="tabela-coluna">{{ patrimonio.denominacao_de_imobiliario }}</td>
                                    <td class="tabela-coluna etq">{{ patrimonio.numero_de_etiqueta }}</td>
                                    <td class="tabela-coluna btns">
                                        <a onclick="pop_up_deletar('{{ patrimonio.id }}')" style="display:inline; width: 100%;">
                                            <button class="btn-deletar">Deletar</button>
                                        </a>
                                        
                                        <a onclick="pop_up_editar('{{ patrimonio.id }}')" style="display:inline; width: 100%;">
                                            <input type="hidden" name="patrimonio_id" value="{{ patrimonio.id }}">
                                            <button class="btn-editar">Editar</button>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">Nenhum patrimônio encontrado.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
        <!-- <div id="resultados"></div> -->
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>
    <script src="../../static/js/script.js"></script>
</body>
</html>
