<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/css/main.css">
    <link rel="stylesheet" href="../../static/css/patrimonio.css">
    <link rel="icon" href="../../static/img/iconefp.png">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>The Control</title>
</head>
<body>
    {% include 'sistema/user/navbar.html' %}
    {% block content %}
        <section class="home">
            <div class="home-conteudo">
                <section class="sec-bar">
                    <form action="" method="post" style="display:inline;">
                        <input type="hidden" name="patrimonio_id" value="">
                        <button type="submit" class="btn-deletar">Criar</button>
                    </form>
                </section>
                <section class="sec-tabela">
                    <table class="tabela">
                        <h1 style="font-size: 20px;">SESI-185 | Sala {{sala}}</h1>
                        <br>
                        <thead class="tabela-header">
                            <tr>
                                <th>ID</th>
                                <th>Denominação</th>
                                <th>Número de Etiqueta</th>
                                <th>Ações</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if patrimonios %}
                                {% for patrimonio in patrimonios %}
                                <tr class="tabela-linha">
                                    <td class="tabela-coluna id">{{ patrimonio.id }}</td>
                                    <td class="tabela-coluna">{{ patrimonio.denominacao_de_imobiliario }}</td>
                                    <td class="tabela-coluna etq">{{ patrimonio.numero_de_etiqueta }}</td>
                                    <td class="tabela-coluna btns">
                                        <form action="{{ url_for('user.deletar_patrimonio') }}" method="post" style="display:inline; width: 100%;">
                                            <input type="hidden" name="patrimonio_id" value="{{ patrimonio.id }}">
                                            <button type="submit" class="btn-deletar">Deletar</button>
                                        </form>
                                        <form action="{{ url_for('user.atualizar_patrimonio') }}" method="post" style="display:inline; width: 100%;">
                                            <input type="hidden" name="patrimonio_id" value="{{ patrimonio.id }}">
                                            <button type="submit" class="btn-atualizar">Atualizar</button>
                                        </form>
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5" class="text-center">Nenhum patrimônio encontrado.</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </section>
            </div>
        </section>
        <!-- <div id="resultados"></div> -->
    {% endblock %}
    <script src="../../static/js/script.js"></script>
</body>
</html>
